<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   					
<mapper namespace="com.goodee.market.trade.item.like.ItemLikeDAO">
     	
     	<!-- 상품 좋아요 -->
     	<insert id="setLike" parameterType="ItemLikeDTO">
			INSERT INTO ITEMLIKE(MEMBERNUM, ITEMNUM) VALUES(#{memberNum}, #{itemNum})
		</insert>
		
		<!-- 상품 좋아요 취소 -->
		<delete id="setUnlike" parameterType="ItemLikeDTO">
			DELETE FROM ITEMLIKE WHERE MEMBERNUM = #{memberNum} AND ITEMNUM = #{itemNum}
		</delete>
		
		<!-- 회원이 상품 좋아요를 누른 상태인지 -->
		<select id="isLikeExist" parameterType="ItemLikeDTO" resultType="Integer">
			SELECT COUNT(LIKENUM) FROM ITEMLIKE WHERE ITEMNUM = 222 AND MEMBERNUM = 81
		</select>
		
		<!-- 상품에 대한 좋아요 갯수 -->
		<select id="getItemLike" parameterType="ItemDTO" resultType="Integer">
			SELECT COUNT(LIKENUM) FROM ITEMLIKE WHERE ITEMNUM = #{itemNum}
		</select>
		
		<!-- 유저가 좋아요한 상품 갯수 -->
		<select id="getLikeCount" parameterType="ItemLikeDTO" resultType="Integer">
			SELECT COUNT(LIKENUM) FROM ITEMLIKE WHERE MEMBERNUM = 81
		</select>
     	
</mapper>