<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.goodee.market.trade.myPage.MyPageDAO">

	<!-- 마이페이지 -->
	<select id="getMyPage" resultMap="getMPResult" parameterType="MyPagePager">
		SELECT ROWNUM R, M.*, MI.*
			FROM MEMBER M
            INNER JOIN
               MEMBERIMAGE MI
        	ON M.MEMBERNUM = MI.MEMBERNUM
		WHERE M.MEMBERNUM = #{memberNum}
	</select>
	
	<resultMap type="MemberDTO" id="getMPResult">
		<id column="MEMBERNUM" property="memberNum"/>
		<result column="ID" property="id"/>
		<result column="PASSWORD" property="password"/>
		<result column="NAME" property="name"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="EMAIL" property="email"/>
		<result column="PHONE" property="phone"/>
		<result column="MAIN_ADDRESS" property="main_address"/>
		<result column="DETAIL_ADDRESS" property="detail_address"/>
		<result column="POSTCODE" property="postcode"/>
		<result column="BIRTHDAY" property="birthday"/>
		<association property="memberFileDTO" javaType="MemberFileDTO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
		</association>
	</resultMap>

	<!-- 판매리스트 -->
	<select id="getSellItemList" resultMap="getSellResult" parameterType="ItemDTO">	
            SELECT I.*, IM.*
            	FROM ITEM I
		        	LEFT JOIN ITEMIMAGE IM
		        	ON I.ITEMNUM = IM.ITEMNUM
			WHERE I.MEMBERNUM = #{memberNum}
	</select>
	<resultMap type="ItemDTO" id="getSellResult">
		<id column="itemnum" property="itemNum"/>
		<result column="membernum" property="memberNum"/>
		<result column="itemtitle" property="itemTitle"/>
		<result column="itemcontents" property="itemContents"/>
		<result column="itemcategory" property="itemCategory"/>
		<result column="itemprice" property="itemPrice"/>
		<result column="itemduedate" property="itemDueDate"/>
		<result column="itemstatus" property="itemStatus"/>
		
		<collection property="itemImageDTOs" javaType="List" ofType="ItemImageDTO">
			<id column="filenum" property="fileNum"/>
			<result column="filename" property="fileName"/>
			<result column="oriname" property="oriName"/>
		</collection>
	</resultMap>
	
	<!-- 구매리스트 -->
	<select id="getBuyItemList" resultMap="getBuyResult" parameterType="MemberDTO">
		SELECT I.*, IM.*, M.ID, M.NICKNAME
			FROM ITEM I
		        LEFT JOIN ITEMIMAGE IM
		        ON I.ITEMNUM = IM.ITEMNUM
		        
		        LEFT JOIN BUYER B
		        ON I.ITEMNUM = B.ITEMNUM
		        
		        LEFT JOIN MEMBER M
		        ON I.MEMBERNUM = M.MEMBERNUM
		WHERE B.BUYERNUM = #{memberNum}
	</select>
	<resultMap type="MemberDTO" id="getBuyResult">
		<id column="id" property="id"/>
		<result column="nickname" property="nickname"/>
		<result column="membernum" property="memberNum"/>
		
		<collection property="itemDTOs" javaType="List" ofType="ItemDTO">
			<id column="itemnum" property="itemNum"/>
			<result column="itemtitle" property="itemTitle"/>
			<result column="itemcontents" property="itemContents"/>
			<result column="itemcategory" property="itemCategory"/>
			<result column="itemprice" property="itemPrice"/>
			<result column="itemduedate" property="itemDueDate"/>
			<result column="itemstatus" property="itemStatus"/>		
		</collection>
		
		<collection property="buyerDTOs" javaType="List" ofType="BuyerDTO">
			<id column="buyNum" property="buyNum"/>
			<result column="buyerNum" property="buyerNum"/>
		</collection>
		
		<collection property="itemImageDTOs" javaType="List" ofType="ItemImageDTO">
			<id column="filenum" property="fileNum"/>
			<result column="filename" property="fileName"/>
			<result column="oriname" property="oriName"/>
		</collection>
	</resultMap>

	
	<!-- 후기리스트 -->
	<select id="getReviewList" resultMap="getReviewResult" parameterType="ReviewDTO">
		SELECT * FROM REVIEW
			WHERE MEMBERNUM = #{memberNum}
	</select>
	
	<resultMap type="ReviewDTO" id="getReviewResult">
		<id column="reviewnum" property="reviewNum"/>
		<result column="reviewtitle" property="reviewTitle"/>
		<result column="reviewcontent" property="reviewContent"/>
		<result column="reviewhit" property="reviewHit"/>
		<result column="reviewstar" property="reviewStar"/>
	</resultMap>	
	
	<select id="getCount" resultType="Long" parameterType="MyPagePager">
    	SELECT COUNT(ITEMNUM) FROM ITEM
	</select>
</mapper>	
