<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.goodee.market.trade.myPage.MyPageDAO">

	<!-- 마이페이지 -->
	<select id="getMyPage" resultMap="getMyPageResult" parameterType="MyPagePager">
		SELECT IT.* FROM
		    (SELECT * FROM ITEM I
		        LEFT JOIN
		        ITEMIMAGE IM
		        ON I.ITEMNUM = IM.ITEMNUM
		    )IT
		WHERE MEMBERNUM = 62
	</select>

	<!-- 판매리스트 -->
	<select id="getSellItemList" resultMap="getMyPageResult" parameterType="MyPagePager">	
            SELECT IT.* FROM
		    (SELECT * FROM ITEM I
		        LEFT JOIN
		        ITEMIMAGE IM
		        ON I.ITEMNUM = IM.ITEMNUM
		    )IT
		WHERE MEMBERNUM = 62
	</select>
	
	
	<!-- 구매리스트 -->
	<select id="getBuyItemList" resultMap="getMyPageResult" parameterType="MyPagePager">
		SELECT * FROM ITEM
		    WHERE ITEMNUM
		        =(SELECT ITEMNUM FROM BUYITEMLIST WHERE MEMBERNUM=62)
	</select>
	
	<resultMap type="ItemDTO" id="getMyPageResult">
		<id column="itemnum" property="itemNum"/>
				<result column="membernum" property="memberNum"/>
				<result column="itemtitle" property="itemTitle"/>
				<result column="itemcontents" property="itemContents"/>
				<result column="itemcategory" property="itemCategory"/>
				<result column="itemprice" property="itemPrice"/>
				<result column="itemduedate" property="itemDueDate"/>
				<result column="itemstatus" property="itemStatus"/>
				<collection property="itemImageDTOs" javaType="List" ofType="ItemImageDTO">
				<id column="filenum" property="fileNum"/>
				<result column="filename" property="fileName"/>
				<result column="oriname" property="oriName"/>
				</collection>
		</resultMap>
	
	<!-- 후기리스트 -->
	<select id="getReviewList" resultMap="getReviewResult" parameterType="MyPagePager">
		SELECT * FROM REVIEW
			WHERE MEMBERNUM = 62
	</select>
	
	<resultMap type="ReviewDTO" id="getReviewResult">
		<id column="reviewnum" property="reviewNum"/>
			<result column="reviewtitle" property="reviewTitle"/>
			<result column="reviewcontent" property="reviewContent"/>
			<result column="reviewhit" property="reviewHit"/>
			<result column="reviewstar" property="reviewStar"/>
	</resultMap>	
		
	
</mapper>	
